{{ define "main" }}
<article class="space-y-8 md:space-y-16">
    <header>
        <h1 class="!my-0 !leading-[1.0625]">{{ .Title }}</h1>

        {{ if not .Date.IsZero }}
            <p class="flex items-center space-x-2 !my-1.5 sm:!my-2 md:!my-2.5 lg:!my-3 text-base">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                </svg>

                <span>Posted on <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>{{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}</time></span>
            </p>
        {{end}}

        {{ $featured_image := partial "functions/GetFeaturedImage.html" . }}
        {{ if $featured_image }}
            <figure>
                <img src="{{ $featured_image }}" alt="{{ .Title }}" class="w-full h-auto object-cover">
            </figure>
        {{ end }}
    </header>

    <div>
        {{ if .Params.series }}
            <nav class="float-left max-w-xs p-4 md:p-6 mb-0.5 mr-4 md:mr-6 bg-gray-100 dark:bg-gray-900">
                <ol class="!space-y-2 md:!space-y-3 !my-0 text-base [&>li]:!my-0 [&>li>*]:block">
                    {{ $series := index .Site.Taxonomies.series ((index .Params.series 0) | urlize) }}
                    {{ range $series.Pages }}
                        {{ if eq $.Permalink .Permalink }}
                            <li><span>{{ .LinkTitle }}</span></li>
                        {{ else }}
                            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                    {{ end }}
                </ol>
            </nav>
        {{ end }}

        {{ .Content }}
    </div>

    {{ with .GetTerms "tags" }}
        <footer>
            <nav class="not-prose">
                <ul class="flex flex-wrap space-y-2 space-x-2 space-y-reverse space-x-reverse [&>:first-child]:mr-2">
                    {{ range . }}
                        <li><a href="{{ .RelPermalink }}" class="inline-block p-2 px-3 text-sm first-letter:capitalize font-semibold bg-gray-200/75 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-gray-600/75 rounded-md">{{ .LinkTitle }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </footer>
    {{ end }}
</article>
{{ end }}